// HOVER TRANSITIONS IN STYLES.SCSS FILE!!!!

#active-page-triangle{
    animation-name: triangle_spin;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    
    @keyframes triangle_spin {
        0% {
            transform: translate(50%, -80%) rotate(0deg);
            fill: #c4c4c4;
        }
        50% {
            transform: translate(50%, -80%) rotate(360deg);
            fill: #85a6f5;
        }
        100%{
            transform: translate(50%, -80%) rotate(360deg);
            fill: #c4c4c4;
        }
    }
}


#notice-new{
    animation-name: new_red_fade;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; 
    @keyframes new_red_fade {
        0%{
            color: rgba($color: #f5a2a2, $alpha: 1.0);
            transform: translate(0px 20px);
        }
        50%{
            color: rgba($color: #D70000, $alpha: 1.0);
            transform: translate(0px 20px);
        }
        100%{
            color: rgba($color: #f1acac, $alpha: 1.0);
            transform: translate(0px 20px);
        }
    }
}

#join-arrow{
    animation-name: jumping_join;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    @keyframes jumping_join {
        0%{
            transform: translateY(-40px);
        }
        50%{
            transform: translateY(-25px);
        }
        100%{
            transform: translateY(-40px);
        }
    }
}
