// GOOGLE FONTS -- Open Sans and Coming Soon
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// font-family: 'Coming Soon', cursive;
// font-family: 'Open Sans', sans-serif;

:root{
    --text-dark: #000000;
    --text-blue: #10345E;
    --border-shadow: 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; //prevents funky padding stretch
    scroll-behavior: smooth;
  }
  
  body {
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-dark);
  }
  .top-gradient{
    width: 100%;
    height: 7px;
    position: fixed;
    background: hsla(183, 98%, 55%, 1);
    background: linear-gradient(0deg, hsla(183, 98%, 55%, 1) 0%, hsla(214, 100%, 62%, 1) 50%, hsla(141, 100%, 56%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(183, 98%, 55%, 1) 0%, hsla(214, 100%, 62%, 1) 50%, hsla(141, 100%, 56%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(183, 98%, 55%, 1) 0%, hsla(214, 100%, 62%, 1) 50%, hsla(141, 100%, 56%, 1) 100%);
    box-shadow: var(--border-shadow);
}
  
  header{
    width: 100%;
    top: 10px;
    left: 0;
    margin: 0;
    position: absolute;

    nav{
        ul{
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            li{
                color: var(--text-blue);
                font-size: 20px;
                font-weight: 700;
                margin: 1.2rem;
                #active-page-triangle{
                  position: absolute;
                  transform: translate(50%, -80%); //centers triangle relative to nav text
                }
                #active-page-dots{
                  position: absolute;
                  transform: translate(-5%, 105%);
                }
                #active-page-text{
                  color: #10345E;
                }
                a{
                  text-decoration: none;
                  color: var(--text-blue);
                }
            }
        }
    }
  }